<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dash">

    <select id="pathList" resultType="admin.dash.DashChartDTO">
        SELECT * FROM dash_chart
    </select>

</mapper>