<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">

    <select id="userList" resultType="admin.user.UserDTO">
        SELECT 
            u.user_id,
            u.email,
            u.password,
            u.contact,
            u.nickname,
            u.parent_role,
            u.birth_date,
            u.family_code,
            u.created_at,
            IFNULL(COUNT(r.report_seq), 0) AS last_baby
        FROM user u
        LEFT JOIN report r
            ON u.user_id = r.user_id
        GROUP BY u.user_id
        ORDER BY last_baby DESC, u.created_at DESC
    </select>

    <delete id="secessionUser">
        delete from user where user_id = #{user_id}
    </delete>

    <select id="ageGroup" resultType="admin.dash.ReportCountDTO">
       SELECT
            CASE 
                WHEN FLOOR(DATEDIFF(CURDATE(), birth_date) / 365.25) BETWEEN 0 AND 9 THEN '~10 대'
                WHEN FLOOR(DATEDIFF(CURDATE(), birth_date) / 365.25) BETWEEN 10 AND 19 THEN '10 대'
                WHEN FLOOR(DATEDIFF(CURDATE(), birth_date) / 365.25) BETWEEN 20 AND 29 THEN '20 대'
                WHEN FLOOR(DATEDIFF(CURDATE(), birth_date) / 365.25) BETWEEN 30 AND 39 THEN '30 대'
                WHEN FLOOR(DATEDIFF(CURDATE(), birth_date) / 365.25) BETWEEN 40 AND 49 THEN '40 대'
                WHEN FLOOR(DATEDIFF(CURDATE(), birth_date) / 365.25) BETWEEN 50 AND 59 THEN '50 대'
                WHEN FLOOR(DATEDIFF(CURDATE(), birth_date) / 365.25) BETWEEN 60 AND 69 THEN '60 대'
                ELSE '70 대~'
            END AS report_type,
            COUNT(*) AS count
        FROM user
        GROUP BY report_type
    </select>

</mapper>